<!-- title -->
<div class="container-flex-row title"> 
  <img src="../../../../assets/icons/favourites.png">
  <h3><b>My favourites</b></h3>
</div>
<!-- End title -->

<!-- Data comic -->
<div *ngFor="let comic of comics" class="container-flex-row container-comic">
    <button (click)="deleteComic(comic)" class="btn-delete-list" type="button"><img src="../../../../assets/icons/btn-delete.png"></button>

  <img [src]="comic.img" alt="">
  <h5 class="title-comic"><b>{{ comic.title }}</b></h5>
</div>
<!-- End Data comic -->