<nav class="navbar navbar-light">
  <!-- Logo -->
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/logo/marvel-logo.png" class="d-inline-block align-top logo-marvel" alt="logo de marvel">
  </a>
  <!-- End Logo -->

  <!-- Input search -->
  <div class="form-inline input-group">
    <input type="text" class="form-control" placeholder="Search..." (keyup.enter)="searchCharacter(textcharacter.value)"  #textcharacter>
    <div class="input-group-append">
      <button (click)="searchCharacter(textcharacter.value)" class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <!-- End Input search -->
</nav>