.container-data {
    flex-wrap: nowrap !important;
}

.container-viewer {
    justify-content: flex-start !important;
    width: 80% !important;
    background-color: #f4f4f4 !important;
    height: auto !important;
}

.container-favorite {
    width: 20% !important;
    height: auto !important;
}