
<div class="container-marvel">
  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- end navbar -->
  
  <!-- Container data -->
  <div class="container-flex-row container-data">
    <!-- Data pages -->
    <div class="container-flex-row container-viewer">
      <div class="data-page">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End Data pages -->

    <!-- Favorite -->
    <div class="container-flex-column container-favorite">
      
    </div>
    <!-- End Favorite -->
  </div>
  <!-- End Container data -->
</div>

<ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "large" color = "#fff" type = "ball-atom" fullScreen = "false">
  <p style="color: white" > Loading... </p>
</ngx-spinner>



