
<div class="container-marvel">
  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- end navbar -->
  
  <!-- Container data -->
  <div class="container-flex-row container-data">
    <!-- Data pages -->
    <div class="container-flex-row container-viewer">
      <div class="data-page">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End Data pages -->




    
    <div class="container-flex-row container-favorite">
aaaa
    </div>
  </div>
  <!-- End Container data -->
</div>



