<!-- Character -->
<div class="container-flex-row row-filter">
  <!-- Titulo -->
  <div class="flex-row">
    <img src="../../../../assets/icons/characters.png" alt="icon-character">
    <h3><b>Characters</b></h3>
  </div>
  <!-- End Titulo -->

  <!-- Sorting -->
  <div class="form-group">
    <select class="form-control" (change)="sortCharacters($event.target.value)">
      <option [value]="item.value" *ngFor="let item of selectSort">{{ item.name }}</option>
    </select>
  </div>
  <!-- End Sorting -->

</div>
<!-- End Character -->

<!-- Content data -->
<div class="container-flex-row container-data-cards">
  <div class="card" *ngFor="let hero of heroes | paginate: { itemsPerPage: page.itemPerPage, currentPage: page.indexPage, totalItems: page.total };">
    <!-- primer row -->
    <div class="container-flex-row card-content">
      <div class="card-custom-avatar">
          <img class="img-fluid" [src]="hero.img" alt="Avatar" />
      </div>

      <div class="card-body">
        <h5 class="card-title"><b>{{ hero.name | textSmall:18 }}</b></h5>
        <p class="card-text">{{ (hero.description ? hero.description : 'There is no description') | textSmall:150 }}</p>
        <a [routerLink]="['characters', hero.id]" class="btn-card btn btn-primary">VIEW MORE</a>
      </div>
    </div>
    <!-- End primer row -->
    
    <!-- Comics title -->
    <div class="container-flex-row title-comics">
      <h4><b>Related comics</b></h4>
    </div>
    <!-- End Comics title -->

    <!-- List Comics -->
    <div class="container-flex-row text-comics" *ngIf="hero.comics.length > 0">
      <span *ngFor="let comic of hero.comics | slice: 0:4">{{ comic.name }}</span>
    </div>
    <div class="container-flex-row text-comics" *ngIf="hero.comics.length == 0">
      <span>No related comics</span>
    </div>
    <!-- End List Comics -->
  </div>

</div>
<!-- End Content data -->

<!-- Pagination -->
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<!-- End Pagination -->