<!-- Character -->
<div class="container-flex-row row-filter">
  <!-- Titulo -->
  <div class="flex-row">
    <img src="../../../../assets/icons/characters.png" alt="icon-character">
    <h3><b>Characters</b></h3>
  </div>
  <!-- End Titulo -->

  <!-- Sorting -->
  <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <!-- End Sorting -->

</div>
<!-- End Character -->

<!-- Content data -->
<div class="container-flex-row container-data-cards">
  <div class="card" *ngFor="let hero of heroes">
    <!-- primer row -->
    <div class="container-flex-row card-content">
      <div class="card-custom-avatar">
          <img class="img-fluid" [src]="hero.img" alt="Avatar" />
      </div>

      <div class="card-body">
        <h5 class="card-title"><b>{{ hero.name }}</b></h5>
        <p class="card-text">{{ (hero.description ? hero.description : 'There is no description') | textSmall:180 }}</p>
        <a href="#" class="btn-card btn btn-primary">VIEW MORE</a>
      </div>
    </div>
    <!-- End primer row -->
    
    <!-- Comics title -->
    <div class="container-flex-row title-comics">
      <h4><b>Related comics</b></h4>
    </div>
    <!-- End Comics title -->

    <!-- List Comics -->
    <div class="container-flex-row text-comics" *ngIf="hero.comics.length > 0">
      <span *ngFor="let comic of hero.comics | slice: 0:4">{{ comic.name }}</span>
    </div>
    <div class="container-flex-row text-comics" *ngIf="hero.comics.length == 0">
      <span>No related comics</span>
    </div>
    <!-- End List Comics -->
  </div>
</div>
<!-- End Content data -->

<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<!-- End Pagination -->