<!-- Character -->
<div class="container-flex-row row-filter">
  <!-- Titulo -->
  <div class="flex-row">
    <img src="../../../../assets/icons/characters.png" alt="icon-character">
    <h3><b>Comics</b></h3>
  </div>
  <!-- End Titulo -->

  <!-- Sorting -->
  <div class="form-group">
    <select class="form-control" (change)="sortCharacters($event.target.value)">
      <option [value]="item.value" *ngFor="let item of selectSort">{{ item.name }}</option>
    </select>
  </div>
  <!-- End Sorting -->

</div>
<!-- End Character -->

<!-- Content data -->
<div class="container-flex-row container-data-cards">
  <div class="card" *ngFor="let comic of comics | paginate: { itemsPerPage: page.itemPerPage, currentPage: page.indexPage, totalItems: page.total };">
    <!-- primer row -->
    <div class="container-flex-row card-content">
      <div class="card-custom-avatar">
          <img class="img-fluid" [src]="comic.img" alt="Avatar" />
      </div>

      <div class="card-body">
        <h5 class="card-title"><b>{{ comic.title | textSmall:24 }}</b></h5>
        <p class="card-text">{{ (comic.description ? comic.description : 'There is no description') | textSmall:180 }}</p>
        <a (click)="openModal(comic)" class="btn-card btn btn-primary">VIEW MORE</a>
      </div>
    </div>
    <!-- End primer row -->
    
    <!-- Comics title -->
    <div class="container-flex-row title-comics">
      <h4><b>Number :</b>{{ comic.number }}</h4>
    </div>
    <!-- End Comics title -->
  </div>

</div>
<!-- End Content data -->

<!-- Pagination -->
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
<!-- End Pagination -->

<!-- Modal -->
<ngx-smart-modal #myModal identifier="myModal">

    <button (click)="myModal.close()" aria-label="Close" class="nsm-dialog-btn-close btn-modal-comic" type="button"><img src="../../../../assets/icons/btn-close.png"></button>

  <div class="container-flex-row container-modal">
    <img *ngIf="comicModal" [src]="comicModal?.img" alt="img del comic">
    <div *ngIf="comicModal" class="text-modal-comic">
      <h3><b>{{ comicModal?.title }}</b></h3>
      <p>{{ comicModal?.description ? comicModal?.description : 'There is no description' }}</p>
    </div>
  </div>

  <div class="container-flex-row btn-modal">
    <button *ngIf="comicModal?.visible" class="btn-modal-favorite" (click)="addComic(comicModal)">
        <img src="../../../../assets/icons/favourites.png">
        <b class="text-btn-modal">ADD TO FAVOURITE</b>
    </button>
    <button disabled *ngIf="!comicModal?.visible" class="btn-modal-favorite-disable" (click)="addComic(comicModal)">
        <img src="../../../../assets/icons/favourites.png">
        <b class="text-btn-modal">ADDED TO FAVOURITES</b>
    </button>
    <button class="btn-moda-buy" (click)="myModal.close()">
      <img src="../../../../assets/icons/shopping-cart-primary.png">
      <b class="text-btn-modal">BUY FOR $3.99</b>
    </button>
  </div>
</ngx-smart-modal>
<!-- End Modal -->