@import "~ngx-smart-modal/ngx-smart-modal";

body {
    margin: 0px;
    position: relative;
    width: 100%;
}

.container-marvel {
    width: 100%;
    height: auto !important;
    background-color: #ebebeb !important;
}

.container-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Manejo en X */
    align-items: center; /* Manjeo en Y  */
    width: 100%;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; /* Manejo en Y */
    align-items: center; /* Manjeo en X */
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Manejo en X */
    align-items: center; /* Manjeo en Y  */
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; /* Manejo en Y */
    align-items: center; /* Manjeo en X */
}

/* Solcuiona el tema de no completar with rutas hijas */
.data-page {
    position: relative;
    /* z-index: 1; */
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.ngx-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Manejo en X */
    align-items: center; /* Manjeo en Y  */
    padding: 0px !important;
}

.ngx-pagination .current {
    background: #ebebeb !important;
    color: #847d7c !important;
    font-weight: bold;
}

.overlay.nsm-overlay-open {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /* Manejo en X */
    align-items: center; /* Manjeo en Y  */
}

.overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /* Manejo en X */
    align-items: center; /* Manjeo en Y  */
}

.nsm-dialog {
    margin: 0px !important;
    width: 50vw !important;
    max-width: 50vw !important;
}

.nsm-dialog-btn-close {
    display: none !important;
}

.btn-modal-comic {
    display: block !important;
}

.btn-modal {
    justify-content: stretch;
    flex-wrap: nowrap;
}

.nsm-content {
    padding: 0px !important;
}

.btn-modal button{
    width: 100%;
    border: 0px;
    padding: 1%;
}

.btn-modal-favorite {
    background-color: #f0f0f0;
    color: #4e4544;
}

.btn-modal-favorite-disable {
    background-color: #322827;
    color: #ec1d23;
}

.btn-moda-buy {
    background-color: #dcdcdc;
    color: #ec1d23;
}

.text-btn-modal {
    margin-left: 3%;
}